Package: sudokuki
Version: 1.0.800-1
Architecture: i386
Maintainer: Sylvain Vedrenne <sylvain@jankenpoi.net>
Installed-Size: 740
Depends: libc6 (>= 2.1.3)
Section: x11
Priority: extra
Homepage: https://sourceforge.net/projects/sudokuki
Description: Sudokuki is a graphical SUDOKU game
 Sudokuki solves even the most difficult sudoku grids for you
  - Generate a sudoku
  - Play sudoku (supports Sudoku memos)
  - Print sudoku grids
  - Save your grid
  - Open a grid file...
 Already available in 10 languages. Just download and play!
 Sudokuki is Free Software. Have fun!
